.btn-floating, .btn-floating:hover {
	background-color: #960004;
}
.row:visited, .row:hover, .row:active, .row:focus-within,  {
	color: #960004;
}

/*Cards*/
.videosCard {
	display: inline-block;
}
.card-content {
    height: 75px;
    width: 200px;
}
.cardIfo {
    font-size: 11px;
    margin-top: -20px;
    margin-left: -12px;
}

/*Nav*/
.brand {
    margin-left: 10px;
    font-size: 20px;
}
.nav-wrapper {
    font-family: 'Catamaran', sans-serif;
}

/*VideoPage*/
.videoTitle {
    margin-left: 3%;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}
.heart {
    color: red;
}
.customPointer {
    cursor: pointer;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 5px solid #DFB8B8;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
} 

.tabList{
    
}

.tabBar {
    margin-bottom: 4%;
}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.comments {
    border-radius: 8px;
    padding: 10px;
    width: 60em;
    margin-top: 1em;
    margin-left: 3.5em;
    display: inline-block;
    box-shadow: 6px 4px 18px grey;
}


